body{
    padding: 20px;
}
#boton-vaciar{
    background-color: blue;
}
.card{
    gap:80px;
    background: #f0f0ef;
    border-radius: 30px;
    box-shadow: 10px 10px 20px rgba(166, 180, 200, 0.7),
      -12px -12px 20px rgba(255, 255, 255, 0.8);}
.card-body{
    display: flex;
	flex-direction: column;
	align-items: center;
	border: 0.1rem solid rgba(147, 93, 140, 0.151);
	border-radius: 1rem;
	padding: 0.5rem;
	width: 100%;
	max-width: 100rem;
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	opacity: 0.8;
	margin-bottom: 1rem;
}

.card:hover {
	transform: translateY(-0.5rem);
	box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
	opacity: 1;
    background-color: rgb(192, 200, 201);
}

.img-fluid{
    border-radius: 18px;
  box-shadow: 10px 10px 20px rgba(166, 180, 200, 0.7),
    -12px -12px 20px rgba(255, 255, 255, 0.8);
}
p{
    color: black;
}
#comprar{
    background-color: blue;
    border: none;

}